Config { font = "-*-Fixed-Bold-R-Normal-*-13-*-*-*-*-*-*-*"
       , bgColor = "black"
       , fgColor = "grey"
       , position = TopW L 90
       , lowerOnStart = True
       , commands = [ Run Cpu ["-L","3","-H","50","--normal","green","--high","red"] 10
                    , Run Memory ["-t","Mem: <usedratio>%"] 10
                    , Run Swap [] 10
                    , Run Date "%a %d %b %Y %H:%M" "date" 10
                    , Run StdinReader
                    , Run CommandReader "ledmon" "LED"
                    , Run Com "amixer get Master | /home/sandeepd/.xmonad/getvolume" [] "vol" 1
                    , Run DynNetwork ["-t", "<dev>: <rx>KB|<tx>KB"] 10
                    , Run BatteryP ["BAT0"]
                      ["-t", "<acstatus><watts> (<left>%)",
                       "-L", "10", "-H", "80", "-p", "3",
                       "--", "-O", "<fc=green>On</fc> - ", "-i", "",
                       "-L", "-15", "-H", "-5",
                       "-l", "red", "-m", "blue", "-h", "green"]
                      600
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = "%StdinReader% }{ %dynnetwork% | <fc=#ffff00>%LED%</fc> | %battery% | %cpu% | %memory% | %swap% | %vol%  <fc=#ee9a00>%date%</fc>"
       }